#home {
    background-color: #eeeeee;
}

.ui-input-text.ui-custom {
   border: none;
   box-shadow: none;
}
#email {
	border:1px solid #cccccc;
}



#password {
	border:1px solid #cccccc;
}
#email1 {
	border:1px solid #cccccc;
}
#name {
	margin-top: 50px;
	border:1px solid #cccccc;
}
#password1 {
	border:1px solid #cccccc;
}
#password_confirmation {
	border:1px solid #cccccc;
}


#entra {
	border:none;
	background-color: #8f00ca;
	color: white;
	text-shadow:none;
}

#regitrate {
	border:none;
	background-color: #8f00ca;
	color: white;
	text-shadow:none;
}
#regitrate:hover {
	border:none;
	background-color: white;
	color: #8f00ca;
	text-shadow:none;
}

#registrarse {
	border:none;
	background-color: white;
	color: #8f00ca;
	text-shadow:none;
}

#entra:hover {
	border:none;
	background-color: white;
	color: #8f00ca;
	text-shadow:none;
}

#registrarse:hover {
	border:none;
	background-color: #8f00ca;
	color: white;
	text-shadow:none;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
}

#backlog {
    text-decoration: none;
    font-style: italic;
}

.header {
	background-color: #8f00ca !important;
	color: white !important;
	text-shadow:none !important;
}

.transparentButton {
    background-color: transparent !important;
    border: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}